<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>NewsLine - Grok the Egg-Nog</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="{{MEDIA_URL}}/css/style.css" type="text/css" />
        <link rel="icon" href="{{MEDIA_URL}}/images/favicon.ico" type="image/x-icon" />
        <link rel="top" title="NewsLine" href="{{SITE_URL}}" />
    </head>
    <body>
        <div id="header">
            <img src="{{MEDIA_URL}}/images/dice.png" />
            <h1>NewsLine</h1>
            <h2>Grok the Egg-Nog</h2>
        </div>

        <!--
        <div id="linkbar">
            <a href="/home/">Home</a> &middot;
            <a href="/api/">API</a> &middot; 
            <a href="/home/about/">About</a> 
        </div>
        -->

        <div id="body">
            {% block body %}
            {% endblock %}
        </div>

        <div id="footer">
            &copy; Pranesh Srinivasan, Arun Chaganty, Sujeet Gohalap, Vikram Rao
        </div>
    </body>
</html>


