{% extends "base.html" %}

{% block body %}
<div>
    <table class="desc">
        <tr>
            <td>
                <p>
                Shag intro here. Lorem ipsum dolors 
                </p>
                <div id="download">

                    <a href="">Download</a>
                </div>
            </td>
            <td>
                <h3>About Us</h3>
                <p>
                <ul>
                    <li>Pranesh Srinivasan: 5th Year CSE Student</li>
                    <li>Arun Chaganty: 4th Year CSE Student</li>
                    <li>Vikram Rao: 2nd Year CSE Student</li>
                    <li>Sujeet Gholap: 2nd Year CSE Student</li>
                </ul>
                </p>
            </td>
        </tr>

    </table>
</div>
{% endblock %}

