{% extends "base.html" %}

{% block body %}
<div>
    <table class="desc">
        <tr>
            <td>
                <p id="poem">
                Lost in the flurry of news all around, <br />
                Years of context bury nuances underground, <br />
                Just when you thought it'll never be the time, <br />
                    That's when you saw; met; loved NewsLine. 
                </p>
                <div id="download">

                    <a href="">Download</a>
                </div>
            </td>
            <td>
                <h3>About Us</h3>
                <p>
                <ul>
                    <li>Pranesh Srinivasan: 5th Year CSE Student</li>
                    <li>Arun Chaganty: 4th Year CSE Student</li>
                    <li>Vikram Rao: 2nd Year CSE Student</li>
                    <li>Sujeet Gholap: 2nd Year CSE Student</li>
                </ul>
                </p>
            </td>
        </tr>

    </table>
</div>
{% endblock %}

